/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: #f2f3f7;
  padding: 20px;
  overflow-y: auto; /* Scroll يعمل */
}

/* Main container */
.container {
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  min-height: 100vh;
  position: relative;
}

/* TITLE */
h1 {
  margin-top: 50px;
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 700;
}

/* TOP BUTTONS (Menu + Spaceship) */
.menu, .spaceship {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  font-size: 16px;
}

.menu {
  top: 10px;
  left: -20px;
}

.spaceship {
  top: 30px;
  right: 15px;
}

/* OPTION BOXES */
.option-box {
  width: fit-content;
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
   border-radius: 100px; 
    background: #ff5fdf;
    padding: 6px 12px;    
    left: 88px;
margin-left: 10px;
}

.Satellite{
   width: fit-content;
  padding: 18px 20px;
  border: 1px solid #000000;
  margin: 30px 10px;
  font-size: 17px;
   border-radius: 100px; 
    background: #808080;
    padding: 6px 12px;    
    left: 88px;
}

.Planet{width: fit-content;
  padding: 18px 20px;
  border: 1px solid #000000;
  margin-left: 40px;
  margin-top: 50px;
  font-size: 17px;
   border-radius: 100px; 
    background: #8ef7e9;
    padding: 6px 12px;    
    left: 88px;
    margin-bottom: -2px;
}

